$border-radius()
    -webkit-border-radius arguments/* webkit 内核 iphone android*/
    -ms-border-radius arguments/* 微软 */
    -moz-border-radius arguments/*  */
    border-radius arguments/* css3的功能 */
$box-shadow()
    -webkit-box-shadow arguments/* webkit 内核 iphone android*/
    -ms-box-shadow arguments/* 微软 */
    -moz-box-shadow arguments/*  */
    box-shadow arguments
$bgccolor = #ffc600
html
    font-family sans-serif
    background $bgccolor
.inbox
    max-width: 400px
    margin 50px auto
    background-color white
    $border-radius(5px)
    $box-shadow(10px 10px 0 rgba(0, 0, 0, 0.1))
    .item
        display flex
        align-items center
        border-bottom 1px solid #F1F1F1
        &:last-child
            border-bottom none
        input[type="checkbox"]
            margin 28px
            &:checked + p
                background #f9f9f9
                text-decoration line-through
        p
            margin 0
            padding 20px
            flex 1
            font-family 'heivetica neue'
            font-size 20px
            font-weight 200
            border-left 1px solid #D1E2FF



