#wrapbgc {
  width: 343px;
  height: 480px;
  margin: 0 auto;
  background-image: url("../img/bg.jpg");
  position: relative;
  top: 100px;
  overflow: hidden;
}
#wrapbgc .headTitle {
  width: 236px;
  height: 77px;
  background-image: url("../img/head.jpg");
  position: absolute;
  top: 53px;
  left: 50px;
}
#wrapbgc .headTitle #headBird {
  position: absolute;
  right: 0;
  margin-top: 25px;
}
#wrapbgc #starbtn {
  width: 85px;
  height: 29px;
  padding: 0;
  margin: 0;
  background-image: url("../img/start.jpg");
  position: absolute;
  left: 120px;
  top: 250px;
}
#wrapbgc #grassLand1 {
  height: 14px;
  width: 343px;
  background-image: url("../img/banner.jpg");
  position: absolute;
  top: 423px;
}
#wrapbgc #grassLand2 {
  height: 14px;
  width: 343px;
  background-image: url("../img/banner.jpg");
  position: absolute;
  top: 423px;
  left: 343px;
}
