$hdbg_color=#e54847;
$font_color_block=#ffffff;
$db_color=#e5e5e5;
html,body
    width 100%
.flex
    display flex
.flex1
    flex 1
.nav
    height 1.067rem
    font-size 18px
    text-align center
    background-color $hdbg_color
    padding 6px
    box-sizing border-box
    .arrow-left
        float left
        height 100%
        position relative
        &:after
            content: ''
            width 12px
            height 12px
            position absolute
            top 50%
            left 50%
            border: 2px solid #ffffff
            border-width: 0 0 2px 2px
            transform: rotate(45deg) translateY(-50%)
    span 
        color $font_color_block
        display inline
.page
    background-color #f4f4f4
    z-index: 1
    position relative
    margin 0
    color #555555
    min-width 3.1rem
    -webkit-tap-highlight-color rgba(255,255,255,0)
    font 14px/1.5 Arial,Helvetica,sans-serif
    section
        background-color #ffffff
        border-bottom 1px solid $db_color
    .movie-header
        padding 0
        background #f8f8f8
        border-bottom none
        .movie
            color#ffffff
            padding 0.4rem
            line-height 1
            position relative
            box-sizing border-box
            filter blur(0)
            &-background,
            &-filter
                position absolute
                top 0
                right 0
                left 0
                bottom 0
            &-background
                z-index 0
                filter: blur(0.6rem)
                -webkit-filter: blur(0.6rem)
                background-image url("./images/header-bg.jpg")
                background-size cover
                background-repeat no-repeat
                background-position-y 40%
            &-filter
                background-color #40454d
                opacity 0.5
            &-container
                //z-index要使用这则需要float或position
                z-index 1
                position relative
                overflow hidden
                .movie-cover
                    float left
                    width 2.854rem
                    height 4rem
                    border: 1px solid #f0f2f3
                    position relative
                    .img
                        width 100%
                    &:after 
                        content: ""
                        background-image url("./images/bofang.png")
                        background-size 100% auto
                        display: block
                        width: 1.6rem
                        height 1.6rem 
                        position absolute
                        top 50%
                        left 50%
                        transform: translate(-50%,-50%)
                        opacity .7
                .movie-content
                    overflow hidden
                    padding-left 0.4rem
                    .movie-name
                        font-size 17px
                        margin 0.08rem 0
                    .movie-ename
                        font-size 12px
                        margin-bottom 0.3rem
                    .movie-score
                        font-size 12px
                        margin-bottom 0.3rem
                        .rating
                            .img
                                width 0.48rem
                                margin-right 0.2rem
                            .rating-score
                                font-size 0.48rem
                                color #ffc600
                    .movie-detail
                        font-size 12px
                        margin-bottom 0.16rem
                        opacity 0.7
                        div,p
                             margin-bottom 0.14rem   
            .operating
                margin-top 0.5rem
                div
                    border 1px solid rgba(255,255,255,0.4)
                    background-color rgba(255,255,255,0.4)
                    font-size 14px
                    color #ffffff
                    position relative
                    z-index 2
                    text-align center
                    padding 0.25rem 0
                    border-radius 4px
                    img 
                        vertical-align middle
                    span 
                        vertical-align middle
                .movie-watch
                    margin-right 0.3rem
                    img 
                        width 14px
                .movie-mark
                    img 
                        width 18px
    .section-seperate
        padding 0.4rem
        padding-bottom 0
        margin-bottom 0.3rem
        border-top 1px solid $db_color
        .text-expander
            &-content.close
                min-height 65px
                display -webkit-box
                overflow hidden
                text-overflow ellipsis
                word-break break-all
                -webkit-box-orient vertical
                -webkit-line-clamp 3
            &-button
                height 0.7rem
                text-align center
                .icon-chevron-down
                    width 10px
                    height 10px                    
                    border 1px solid #aaa
                    display inline-block
                    border-width 0 1px 1px 0
                    transform rotateZ(45deg)
                    box-sizing border-box
                    transition transform .5s
                .icon-chevron-down.up
                    transform rotateZ(225deg)
    .section-seperate
        .movie-celebrities
            width 100%
            padding 0.3rem 0.3rem 0.1rem 0
            overflow-x scroll
            white-space nowrap
            box-sizing border-box
            li
                text-align center
                display inline-block
                padding 0.04rem
                .link
                    color #000
                    text-decoration none
                    .movie-celebrities-pic
                        width 1.7334rem
                        height 2.4rem
                        margin 0.05rem
                        img 
                            width 100%
                    span 
                        display block
                        font-size 0.2rem
                        text-overflow ellipsis
                        overflow hidden 
                        white-space nowrap
                    .movie-celebrities-roles
                        color #999 
    .section-seperate
        .weui-flex
            text-align center
            .placeholder
                span 
                    font-size 24px
                    color #d96a3d
                p
                    margin-top 0.1rem
                    color #bababa
    .section-seperate
        .movie-photo-lists
            width 100%
            padding 0.3rem 0.3rem 0.2rem 0
            overflow-x scroll
            white-space nowrap
            box-sizing border-box
            .stage-img-container
                margin-right 0.1333rem
                display inline-block
                width 2.4rem
                height 1.867rem
                .movie-celebrities-pic
                    width 100%
                    height 100%
                    img
                        width 100%
                &:nth-child(1)
                    width 3.3334rem
                &:last-child
                    margin-right 0
    .section-seperate
        .action-list
            .join-comment
                float right
                transform translateY(-20%)
                padding 0.1rem 0.3rem
                font-size 12px
                color #fff
                background-color #e54847
                border-radius 2rem
        .movie-comment
            padding 0.2rem 0 0.4rem 0.2rem 
            overflow hidden
            .comment-item
                padding 0.1rem 0.25rem
                float left
                font-size 12px
                border 1px solid #aaa
                margin 0.2rem 0.3rem 0 0 
                border-radius 2rem  
    .section-seperate
        .chosen-comment
            padding 0.2rem 0.2rem 0 0
            .chosen-comment-item
                border-bottom 1px solid #bababa
                padding 0.1rem 0.1rem 0.2rem 0
                box-sizing border-box 
                position relative
                .item-avatal
                    width 0.8rem
                    height 0.8rem
                    border-radius 50%
                    overflow hidden
                    img
                        width 100%
                .item-detail
                    position absolute
                    left 1rem
                    top 0.1rem
                    .nick-name
                        font-size 14px
                    .level
                        img 
                            width 0.8rem
                            transform translateY(0.1rem)
                    .item-score-desc
                        font-size 12px
                        color #aaa
                .item-context
                    padding 0.2rem 0 0.1rem 1rem
                    box-sizing border-box
                    .item-context-p
                        font-size 16px
                .item-infor
                    padding 0.2rem 0 0.2rem 1rem
                    box-sizing border-box
                    position relative
                    .item-data
                        font-size 14px
                        color #aaa
                    .item-like-reply
                        position absolute
                        right 0
                        top 0.2rem
                        .item-like
                            margin-right 0.1rem
                            display inline-block
                            padding 0.05rem 0.1rem
                            box-sizing border-box
                            border-radius 2rem
                            border 1px solid #aaa
                            img
                                display inline-block
                                transform translateY(25%)
                                width 0.4rem
                            .comment-item-num
                                font-size 14px
                                color #aaa

#toast
    display none
.active
    display block !important       